@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "brand";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(97% 0.001 106.424);
  --color-base-300: oklch(92% 0.003 48.717);
  --color-base-content: oklch(20% 0 0);
  --color-primary: oklch(55% 0.288 302.321);
  --color-primary-content: oklch(97% 0.014 308.299);
  --color-secondary: oklch(64% 0.222 41.116);
  --color-secondary-content: oklch(98% 0.016 73.684);
  --color-accent: oklch(60% 0.118 184.704);
  --color-accent-content: oklch(98% 0.014 180.72);
  --color-neutral: oklch(43% 0 0);
  --color-neutral-content: oklch(98% 0 0);
  --color-info: oklch(62% 0.214 259.815);
  --color-info-content: oklch(97% 0.014 254.604);
  --color-success: oklch(70% 0.14 182.503);
  --color-success-content: oklch(98% 0.014 180.72);
  --color-warning: oklch(79% 0.184 86.047);
  --color-warning-content: oklch(98% 0.026 102.212);
  --color-error: oklch(64% 0.246 16.439);
  --color-error-content: oklch(96% 0.015 12.422);
  --radius-selector: 0rem;
  --radius-field: 0rem;
  --radius-box: 0rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 2px;
  --depth: 1;
  --noise: 1;
}

@plugin "daisyui/theme" {
  name: "light";
  default: false;
  --color-primary: oklch(55% 0.288 302.321);
  --color-primary-content: oklch(97% 0.014 308.299);
  --color-secondary: oklch(64% 0.222 41.116);
  --color-secondary-content: oklch(98% 0.016 73.684);
}

@plugin "daisyui/theme" {
  name: "dark";
  default: false;
  --color-base-200: oklch(37% 0.013 285.805);
  --color-base-300: oklch(44% 0.017 285.786);
}

.gradient-text {
  background-clip: text;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}

.font-radio-grotesk {
  font-family: "Radio Grotesk", sans-serif;
}

.widget-highlighter {
  display: none;
}

@media (min-width: 768px) {
  .widget-highlighter {
    display: flex;
  }
}

@keyframes infinite-scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.animate-infinite-scroll {
  animation: infinite-scroll 30s linear infinite !important;
}

.infinite-scroll-container:hover .animate-infinite-scroll {
  animation-play-state: paused !important;
}

@keyframes infinite-scroll-reverse {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.animate-infinite-scroll-reverse {
  animation: infinite-scroll-reverse 30s linear infinite !important;
}

.infinite-scroll-container:hover .animate-infinite-scroll-reverse {
  animation-play-state: paused !important;
}

.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Firefox (all scrollbars) */
* {
  scrollbar-width: thin; /* auto | thin | none */
  scrollbar-color: #666 #111; /* thumb | track */
}

/* Chrome, Edge, Safari (WebKit/Blink) */
*::-webkit-scrollbar {
  width: 10px;
  height: 10px; /* for horizontal scrollbars */
}

*::-webkit-scrollbar-track {
  background: #111; /* track */
}

*::-webkit-scrollbar-thumb {
  background-color: #666; /* thumb */
  border-radius: 6px;
  border: 2px solid #111; /* space around thumb */
}

@media (prefers-color-scheme: dark) {
  * {
    scrollbar-color: #666 #111; /* Firefox */
  }
  *::-webkit-scrollbar-track {
    background: #111;
  }
  *::-webkit-scrollbar-thumb {
    background-color: #666;
  }
}

@media (prefers-color-scheme: light) {
  * {
    scrollbar-color: #aaa #f1f1f1;
  }
  *::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  *::-webkit-scrollbar-thumb {
    background-color: #888;
  }
}

.open-source-bg {
  background-color: #fcf7ff;
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%239604f7' fill-opacity='0.05'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.customise-preview {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.13'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

@font-face {
  font-family: "Aeonik-";
  src: url("/fonts/Aeonik-/Aeonik-Air.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Aeonik-";
  src: url("/fonts/Aeonik-/Aeonik-AirItalic.otf") format("opentype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Aeonik-";
  src: url("/fonts/Aeonik-/Aeonik-Thin.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Aeonik-";
  src: url("/fonts/Aeonik-/Aeonik-ThinItalic.otf") format("opentype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Aeonik-";
  src: url("/fonts/Aeonik-/Aeonik-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Aeonik-";
  src: url("/fonts/Aeonik-/Aeonik-LightItalic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Aeonik-";
  src: url("/fonts/Aeonik-/Aeonik-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Aeonik-";
  src: url("/fonts/Aeonik-/Aeonik-RegularItalic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Aeonik-";
  src: url("/fonts/Aeonik-/Aeonik-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Aeonik-";
  src: url("/fonts/Aeonik-/Aeonik-MediumItalic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Aeonik-";
  src: url("/fonts/Aeonik-/Aeonik-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Aeonik-";
  src: url("/fonts/Aeonik-/Aeonik-BoldItalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Aeonik-";
  src: url("/fonts/Aeonik-/Aeonik-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Aeonik-";
  src: url("/fonts/Aeonik-/Aeonik-BlackItalic.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Radio Grotesk";
  src:
    url("/fonts/Radio Grotesk/PPRadioGrotesk-Ultralight.woff2") format("woff2"),
    url("/fonts/Radio Grotesk/PPRadioGrotesk-Ultralight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Radio Grotesk";
  src:
    url("/fonts/Radio Grotesk/PPRadioGrotesk-UltralightItalic.woff2")
      format("woff2"),
    url("/fonts/Radio Grotesk/PPRadioGrotesk-UltralightItalic.woff")
      format("woff");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Radio Grotesk";
  src:
    url("/fonts/Radio Grotesk/PPRadioGrotesk-Light.woff2") format("woff2"),
    url("/fonts/Radio Grotesk/PPRadioGrotesk-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Radio Grotesk";
  src:
    url("/fonts/Radio Grotesk/PPRadioGrotesk-LightItalic.woff2") format("woff2"),
    url("/fonts/Radio Grotesk/PPRadioGrotesk-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Radio Grotesk";
  src:
    url("/fonts/Radio Grotesk/PPRadioGrotesk-Regular.woff2") format("woff2"),
    url("/fonts/Radio Grotesk/PPRadioGrotesk-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Radio Grotesk";
  src:
    url("/fonts/Radio Grotesk/PPRadioGrotesk-RegularItalic.woff2")
      format("woff2"),
    url("/fonts/Radio Grotesk/PPRadioGrotesk-RegularItalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Radio Grotesk";
  src:
    url("/fonts/Radio Grotesk/PPRadioGrotesk-Bold.woff2") format("woff2"),
    url("/fonts/Radio Grotesk/PPRadioGrotesk-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Radio Grotesk";
  src:
    url("/fonts/Radio Grotesk/PPRadioGrotesk-BoldItalic.woff2") format("woff2"),
    url("/fonts/Radio Grotesk/PPRadioGrotesk-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Radio Grotesk";
  src:
    url("/fonts/Radio Grotesk/PPRadioGrotesk-Black.woff2") format("woff2"),
    url("/fonts/Radio Grotesk/PPRadioGrotesk-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Radio Grotesk";
  src:
    url("/fonts/Radio Grotesk/PPRadioGrotesk-BlackItalic.woff2") format("woff2"),
    url("/fonts/Radio Grotesk/PPRadioGrotesk-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
}
