@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Aeonik-";
  src: url("/fonts/Aeonik-/Aeonik-Air.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Aeonik-";
  src: url("/fonts/Aeonik-/Aeonik-AirItalic.otf") format("opentype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Aeonik-";
  src: url("/fonts/Aeonik-/Aeonik-Thin.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Aeonik-";
  src: url("/fonts/Aeonik-/Aeonik-ThinItalic.otf") format("opentype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Aeonik-";
  src: url("/fonts/Aeonik-/Aeonik-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Aeonik-";
  src: url("/fonts/Aeonik-/Aeonik-LightItalic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Aeonik-";
  src: url("/fonts/Aeonik-/Aeonik-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Aeonik-";
  src: url("/fonts/Aeonik-/Aeonik-RegularItalic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Aeonik-";
  src: url("/fonts/Aeonik-/Aeonik-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Aeonik-";
  src: url("/fonts/Aeonik-/Aeonik-MediumItalic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Aeonik-";
  src: url("/fonts/Aeonik-/Aeonik-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Aeonik-";
  src: url("/fonts/Aeonik-/Aeonik-BoldItalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Aeonik-";
  src: url("/fonts/Aeonik-/Aeonik-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Aeonik-";
  src: url("/fonts/Aeonik-/Aeonik-BlackItalic.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Radio Grotesk";
  src: url("/fonts/Radio Grotesk/PPRadioGrotesk-Ultralight.woff2")
      format("woff2"),
    url("/fonts/Radio Grotesk/PPRadioGrotesk-Ultralight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Radio Grotesk";
  src: url("/fonts/Radio Grotesk/PPRadioGrotesk-UltralightItalic.woff2")
      format("woff2"),
    url("/fonts/Radio Grotesk/PPRadioGrotesk-UltralightItalic.woff")
      format("woff");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Radio Grotesk";
  src: url("/fonts/Radio Grotesk/PPRadioGrotesk-Light.woff2") format("woff2"),
    url("/fonts/Radio Grotesk/PPRadioGrotesk-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Radio Grotesk";
  src: url("/fonts/Radio Grotesk/PPRadioGrotesk-LightItalic.woff2")
      format("woff2"),
    url("/fonts/Radio Grotesk/PPRadioGrotesk-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Radio Grotesk";
  src: url("/fonts/Radio Grotesk/PPRadioGrotesk-Regular.woff2") format("woff2"),
    url("/fonts/Radio Grotesk/PPRadioGrotesk-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Radio Grotesk";
  src: url("/fonts/Radio Grotesk/PPRadioGrotesk-RegularItalic.woff2")
      format("woff2"),
    url("/fonts/Radio Grotesk/PPRadioGrotesk-RegularItalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Radio Grotesk";
  src: url("/fonts/Radio Grotesk/PPRadioGrotesk-Bold.woff2") format("woff2"),
    url("/fonts/Radio Grotesk/PPRadioGrotesk-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Radio Grotesk";
  src: url("/fonts/Radio Grotesk/PPRadioGrotesk-BoldItalic.woff2")
      format("woff2"),
    url("/fonts/Radio Grotesk/PPRadioGrotesk-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Radio Grotesk";
  src: url("/fonts/Radio Grotesk/PPRadioGrotesk-Black.woff2") format("woff2"),
    url("/fonts/Radio Grotesk/PPRadioGrotesk-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Radio Grotesk";
  src: url("/fonts/Radio Grotesk/PPRadioGrotesk-BlackItalic.woff2")
      format("woff2"),
    url("/fonts/Radio Grotesk/PPRadioGrotesk-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
}

:root {
  --color-brand: #7C2CBF;
  --color-brand-subtle: #F4E7FF;
  --color-outline: #E5E5E5;
  --color-ash: #F6F6F5;
  --color-ash-strong: #F0F0F0;
  --color-canvas: #FFFFFF;
}

.dark {
  --color-brand: #cbabe5;
  --color-brand-subtle: #3e1660;
  --color-outline: #4d4d4d;
  --color-ash: #1a1a1a;
  --color-ash-strong: #2C2C2A;
  --color-canvas: #000000;
}

html {
  color-scheme: light;
}

/* inside your CSS file */
@layer utilities {
  .no-border-last-3:nth-last-child(-n+3) {
    @apply md:border-b-0;
  }

  .no-border-every-3:nth-child(3n) {
    @apply md:border-r-0;
  }
}
