#crawlchat-embed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease, visibility 0.2s ease;
}

#crawlchat-embed.open {
  opacity: 1;
  visibility: visible;
}

#crawlchat-embed iframe {
  width: 100%;
  height: 100%;
  border: none;
  background: transparent;
  background-color: transparent;
  opacity: 1;
}

#crawlchat-ask-ai-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 8px 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: scale 0.1s ease, opacity 0.3s ease;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#crawlchat-ask-ai-button:hover {
  scale: 1.05;
}

#crawlchat-ask-ai-button img.logo {
  width: 40px;
  height: 40px;
}

#crawlchat-ask-ai-button.with-logo {
  border-radius: 10px;
}

#crawlchat-ask-ai-button.hidden {
  opacity: 0;
}

#crawlchat-ask-ai-button .tooltip {
  position: absolute;
  top: -10px;
  right: 0;
  transform: translateY(-100%);
  background-color: white;
  color: black;
  padding: 10px 14px;
  border-radius: 10px;
  border: 1px solid #e0e0e0;
  text-align: right;
  display: flex;
  white-space: nowrap;
  font-size: 14px;
}

:root {
  --crawlchat-sidepanel-width: 400px;
  --crawlchat-navbar-height: 60px;
}

#crawlchat-sidepanel {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  transition: all 0.2s ease;
  border-left: 1px solid #e0e0e0;
  width: var(--crawlchat-sidepanel-width);
}

[data-theme="dark"] #crawlchat-sidepanel {
  border-left: 1px solid #222;
}

#crawlchat-sidepanel iframe {
  width: 100%;
  height: 100%;
  border: none;
  background: transparent;
  background-color: transparent;
  opacity: 1;
}

.crawlchat-sidepanel-resize {
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 100%;
  opacity: 0;
  cursor: col-resize;
  z-index: 1000;
  background-color: #e0e0e0;
  transition: opacity 0.2s ease;
}

.crawlchat-sidepanel-resize:hover {
  opacity: 1;
}

#crawlchat-sidepanel.hidden {
  right: -100%;
}

#__docusaurus.crawlchat-with-sidepanel {
  transition: width 0.2s ease;
  width: 100%;
  height: 100vh;
}

#__docusaurus.crawlchat-with-sidepanel.crawlchat-sidepanel-open {
  width: calc(100% - var(--crawlchat-sidepanel-width));
  overflow-y: auto;
}

nav.navbar {
  min-height: var(--crawlchat-navbar-height);
}

@media (max-width: 768px) {
  :root {
    --crawlchat-sidepanel-width: 100vw;
  }

  #crawlchat-sidepanel {
    border-left: none;
  }
}
